/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */
@font-face {
    font-family: 'edmondsansbold';
    src: url('../fonts/edmondsans-bold-webfont.eot');
    src: url('../fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('../fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background: url('../img/pattern.png');
	background-size: cover;
	height: 100%;
}
h1 {
	font-size: 42px;
	color: #5f5337;
	font-family: "edmondsansbold", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	line-height: 52px;
	margin: 20px 0;
	-webkit-font-smoothing: antialiased;
}
h2 {
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #efc316;
	text-align: center;
	letter-spacing: 1px;
	height: 60px;
	padding: 50px 0;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
header {
	height: 270px;
}
header .badge {
	background: url('../img/comingsoon.png') no-repeat center;
	min-height: 150px;
	height: 150px;
	width: auto;
	background-size: contain;
}
.content {
	height: 100%;
	width: 100%;
	max-width: 450px;
	overflow: hidden;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	display: block;
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 20px;
	left: -225px;
}
.content img {
	width: 70%;
	margin: 0 auto;
}
footer {
	background: #5f5337;
	width: 100%;
	min-height: 40px;
	padding: 10px 0;
	bottom: 0;
	position: fixed;
	text-align: center;
}
footer .container {
	width: 33.33%;
	max-width: 400px;
}
footer .social {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10%;
}
footer .social.fb {
	background: url('../img/facebook.png') no-repeat center;
	background-size: contain;
}
footer .social.twitter {
	background: url('../img/twitter.png') no-repeat center;
	background-size: contain;
}
footer .social.insta {
	background: url('../img/instagram.png') no-repeat center;
	background-size: contain;
}
footer a {
	color: #efc316;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: 40px;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
	footer .container {
		width: 40%;
		max-width: 500px;
	}
}
@media screen and (max-width: 900px) {
	footer .container {
		width: 50%;
		max-width: 600px;
	}
}
@media screen and (max-width: 768px) {
	footer .container {
		width: 90%;
	}
}
@media screen and (max-width: 568px) {
	h1 {
		font-size: 24px;
		line-height: 34px;
	}
	header .badge {
		min-height: 100px;
		height: 100px;
		top: 50px;
		position: relative;
	}
	h2 {
		font-size: 12px;
		padding: 25px 0;
	}
}
@media screen and (max-width: 480px) {
	.content {
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.content img {
    	width: 100%;	
	}
	footer .social {
		margin-right: 5%;
	}
}
@media screen and (max-width: 320px) {
	footer .container {
		width: 100%;
	}
}
@media screen and (max-width: 240px) {
	footer .social {
		margin-right: 21%;
		margin-bottom: 10px;
	}
	footer .social.insta {
		margin-right: 0;
	}
}
/* Height Adjustments */
@media screen and (min-height: 1024px) {
	header .badge {
		height: 200px;
		min-height: 200px;
		top: 40px;
		position: relative;
	}
	h2 {
		padding: 65px 0;
		font-size: 24px;
		line-height: 30px;
	}
}
@media screen and (min-height: 900px){
    .content {
		bottom: -20px;
		height: 600px;
	}
}
/* Apple iPhone 5 */
@media screen and (max-width: 320px) and (max-height: 568px) {
	header {
		height: 200px;
	}
	header .badge {
		top: 0;
	}
	.content {
		max-height: 300px;
	}
	.content img {
		width: 85%;
	}
}
/* Google Nexus */
@media screen and (max-width: 400px) and (max-height: 640px) {
	header {
		height: 200px;
	}
	header .badge {
		top: 0;
	}
	.content {
		max-height: 400px;
	}
	.content img {
		width: 80%;
	}
}
/* Apple iPhone */
@media screen and (max-width: 320px) and (max-height: 480px) {
	.content {
		max-height: 300px;
	}
	.content img {
		width: 60%;
	}
}